<!doctype html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <title>The Anxious Prop :: Case 3</title>
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/screen.css') }}">
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/master.js') }}"></script>
    </head>
    
    <!--[if lt IE 7 ]> <body class="ie6"> <![endif]-->
    <!--[if IE 7 ]>    <body class="ie7"> <![endif]-->
    <!--[if IE 8 ]>    <body class="ie8"> <![endif]-->
    <!--[if IE 9 ]>    <body class="ie9"> <![endif]-->
    <!--[if (gt IE 9)|!(IE)]><!--> <body> <!--<![endif]-->
        
        <div id="container">
            {% block content %}{% endblock %}
        </div>
        
    </body>
</html>
